<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ad Spend Optimizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    
    <div class="card">
        <h1>Sales Forecast Tool for Marketing Budgets</h1>
        <p class="subtitle">Estimate sales based on advertising budgets</p>

        <form action="/predict_form" method="post" class="form">

            <div class="input-group">
                <label>TV Budget ($)</label>
                <input type="number" step="any" name="tv">
            </div>

            <div class="input-group">
                <label>Radio Budget ($)</label>
                <input type="number" step="any" name="radio" >
            </div>

            <div class="input-group">
                <label>Newspaper Budget ($)</label>
                <input type="number" step="any" name="newspaper" >
            </div>

            <button type="submit">Predict Sales</button>
        </form>

       {% if prediction_text %}
    <div class="result">
        <h3>Predicted Sales</h3>
        <p class="value">{{ prediction_text }}</p>

        <h4>ROI</h4>
        <p>{{ roi_text }}</p>

        <h4>Insight</h4>
        <p class="insight">{{ insight_text }}</p>
    </div>
{% endif %}

    </div>

</div>

</body>
</html>